@media screen and (min-width: 568px)
and (max-width: 830px)
and (max-height: 700px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
  }

  header {
    width: 50%;
    height: 76px;
    background: linear-gradient(to right, #B0B7BC, #cc0033);
    position: fixed;
    top: 0;
    right: 0;
  }

  header > .header-text {
    -webkit-text-stroke: 1px black;
    font-weight: 500;
  }

  nav > .navigation {
    width: 50%;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #B0B7BC, #cc0033);
    -webkit-text-stroke: 1px black;
  }

  main {
    display: flex;
  }

  .logo {
    padding: 0;
    padding-top: 2rem;
    position: fixed;
    left: 2rem;
    top: 1rem;
  }

  .buttons {
    position: fixed;
    right: 3rem;
    bottom: 5rem;
  }

  main > .quotes-or-jokes {
    width: 40%;
    height: 300px;
    position: fixed;
    left: 2rem;
    top: 2.3rem;
    overflow-y: scroll;
  }

  main > .favorited-texts {
    width: 40%;
    height: 300px;
    position: fixed;
    left: 2rem;
    top: 1.3rem;
  }

  .logo-image-two {
    position: fixed;
    top: 5rem;
    right: 5rem;
    height: 220px;
    width: 165px;
  }
}

@media only screen and (min-width: 801px) {
  .logo > .logo-image {
    width: 400px;
    height: 335px;
  }

  main > .quotes-or-jokes {
    width: 50%;
    height: 295px;
  }

  main > .favorited-texts {
    width: 50%;
    margin-top: 7rem;
  }
}

@media screen
and (min-width: 406px)
and (min-height: 726px)
and (max-width: 415px)
and (max-height: 736px) {
  main > .favorited-texts {
    height: 550px;
  }
}

@media screen
and (min-width: 726px)
and (min-height: 406px)
and (max-width: 736px)
and (max-height: 416px) {
  main > .logo {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  main > .buttons {
    right: 4.5rem;
    bottom: 6.5rem;
  }

  main > .buttons > .motivate-quotes {
    margin-bottom: 15px;
  }

  main > .quotes-or-jokes {
    height: 335px;
  }

  main > .logo > .logo-image-two {
    right: 5.5rem;
    bottom: 3.3rem;
    height: 255px;
    width: 190px;
  }

  main > .favorited-texts {
    height: 335px;
  }
}

@media screen
and (min-width: 355px)
and (min-height: 635px)
and (max-width: 365px)
and (max-height: 645px) {
  .logo > .logo-image {
    height: 285px;
    width: 220px;
  }

  main > .quotes-or-jokes {
    height: 245px;
  }

  .buttons > .motivate-quotes {
    margin-bottom: 15px;
  }

  main > .favorited-texts {
    height: 460px;
  }
}

@media screen
and (min-width: 635px)
and (min-height: 355px)
and (max-width: 645px)
and (max-height: 365px) {
  main > .logo {
    padding-top: 15px;
  }

  main > .logo > .logo-image-two {
    height: 210px;
    width: 155px;
  }

  main > .favorited-texts {
    margin-top: 0.5rem;
  }

  .buttons > .motivate-quotes {
    margin-bottom: 15px;
  }
}

@media screen
and (min-width: 315px)
and (min-height: 563px)
and (max-width: 325px)
and (max-height: 573px) {
  main > .quotes-or-jokes {
    height: 186px;
    overflow-y: scroll;
    margin-top: 10px;
    padding-top: 0;
  }

  .logo > .logo-image {
    width: 155px;
    height: 220px;
  }

  main > .favorited-texts {
    height: 390px;
  }

  main > .buttons > .motivate-quotes {
    margin-bottom: 10px;
  }
}

@media screen
and (min-width: 563px)
and (min-height: 315px)
and (max-width: 573px)
and (max-height: 325px) {
  main > .favorited-texts {
    height: 270px;
    margin-top: 5px;
  }

  main > .quotes-or-jokes {
    margin-top: 0;
    height: 200px;
  }

  .logo > .logo-image {
    width: 185px;
    height: 240px;
  }

  .buttons {
    right: 1.5rem;
  }

  .fa-star {
    position: fixed;
    left: 7.5rem;
    bottom: 1rem;
  }
}

@media screen
and (min-width: 355px)
and (min-height: 735px)
and (max-width: 365px)
and (max-height: 745px) {

}

@media screen
and (min-width: 662px)
and (min-height: 370px)
and (max-width: 672px)
and (max-height: 380px) {
  main > .buttons {
    right: 3rem;
    bottom: 5rem;
  }

  main > .quotes-or-jokes {
    width: 280px;
    margin: auto;
  }

  main > .favorited-texts {
    width: 280px;
    height: 310px;
    margin: auto;
    margin-top: 0.5rem;
  }
}

@media screen
and (min-width: 731px)
and (min-height: 409px)
and (max-width: 741px)
and (max-height: 419px) {
  .logo {
    margin: auto;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .buttons {
    right: 4.2rem;
  }

  main > .favorited-texts {
    margin-top: 1rem;
  }

  .logo-image-two {
    right: 6rem;
    top: 5.5rem;
  }
}

@media screen
and (min-width: 807px)
and (min-height: 370px)
and (max-width: 817px)
and (max-height: 385px) {
  .logo > .logo-image {
    width: 235px;
    height: 300px;
    margin-left: 2.5rem;
  }

  .buttons {
    right: 5.2rem;
  }

  main > .quotes-or-jokes {
    width: 350px;
  }

  main > .favorited-texts {
    margin: auto;
    margin-top: 1rem;
    width: 350px;
  }
}

@media screen
and (min-width: 370px)
and (min-height: 807px)
and (max-width: 380px)
and (max-height: 817px) {
  main > .favorited-texts {
    height: 635px;
  }
}

@media screen
and (min-width: 406px)
and (min-height: 818px)
and (max-width: 416px)
and (max-height: 828px) {
  main > .favorited-texts {
    height: 645px;
  }
}

@media screen
and (min-width: 818px)
and (min-height: 406px)
and (max-width: 828px)
and (max-height: 416px) {
  main > .quotes-or-jokes,
  main > .favorited-texts {
    margin: auto;
    margin-top: 1rem;
    width: 350px;
    height: 310px;
  }

  main > .favorited-texts {
    margin-top: 1.8rem;
  }

  main > .buttons {
    position: fixed;
    right: 5.5rem;
    bottom: 6.5rem;
  }
}
